<!DOCTYPE html>
<html>
  <head>
    <% @page_title = "this false conditional should not prevent I18n lookup" if false %>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>

    <% if page_title.object_id == page_title.object_id %>
      <p>page_title is memoized</p>
    <% end %>

    <% @page_title = "OVERRIDDEN" %>
    <% if page_title == @page_title %>
      <p>@page_title can be overridden</p>
    <% end %>
  </body>
</html>
