<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @namespaced_thing.color %>
</p>

<%= link_to 'Edit', edit_namespaced_thing_path(@namespaced_thing) %> |
<%= link_to 'Back', namespaced_things_path %>
